{{template "base" .}}
{{/* you can also use CloudyKit/jet for Go html templates. BTW if your file in vscode does not like the goland tmpl, check the bottom right language and change it to Golang HTML Template */}}
{{define "content"}}
  <div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the about page</h1>

        </div>
    </div>
  </div>
{{end}}