{{template "base" .}}

{{define "content"}}
  <!-- this div structure comes from bootstrap which we imported with the link above with cdn -->
  <div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the home page</h1>
            <p>This is some text</p>

        </div>
    </div>
  </div>
{{end}}