{{template "base" .}}

{{define "content"}}
<div class="container">

    <div class="row">
      <div class="col">
        <img src="/static/images/marjors-suite.png" alt="Major Suite Photo" class="img-fluid mx-auto d-block room-image img-thumbnail">
      </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Major's Suite</h1>
            <p>
            Your refuge away from all troubles. Your refuge away from all troubles. Your refuge away from all troubles. Your refuge away from all troubles. Your refuge away from all troubles. Your refuge away from all troubles. Your refuge away from all troubles. Your refuge away from all troubles.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
          <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>

  </div>
{{end}}

{{define "js"}}
 <script>
    document.getElementById('check-availability-button').addEventListener('click', () => {
          let html = `
            <form id="check-availability-form" action="" method="post" class="needs-validation" novalidate>
              <div class="form-row">
                <div class="col">
                  <div class="row" id="reservation-dates-modal">
                    <div class="col">
                      <input disabled id="start" type="text" name="start" class="form-control" required placeholder="Arival">
                    </div>
                    <div class="col">
                      <input disabled id="end" type="text" name="end" class="form-control" required placeholder="Departure">
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </form>
          `;
          attention.custom({msg: html, title: "Check Availability"});
        });
 </script>
{{end}}